html {
    background-color: #ffffff;
    padding: 0px;
}
body {
    background-color: #ffffff;
    padding: 0px;
    margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
}

p.value-description {
    text-indent: -16pt;
    font-size: 22pt;
    margin-left: 20pt;

}
.dol {
    text-indent: -16pt;
    width: 100%;
    background-color: #dddddd;
  position: relative;
      height: 8%;
}
.container {
  position: relative;
}
p {
    color: #444444;
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
p.podpis {

    font-family: 'Rubik', sans-serif;
    text-indent: -16pt;
    color: #00647f;
    min-height: 144pt;
    margin-left: 20pt;
	text-align: center;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    width: 90%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 {
    color: #222222;
    font-family: 'Rubik', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
h3 {
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-size: 42pt;
    line-height: 42pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}

img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}
img.logo {
    display: block;
    width: 25%;
    min-width: 300pt;
    text-align: center;
}
img.main {
    display: block;
    width: 100.402%;
    min-width: 500pt;
    text-align: center;

}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.button {
    background-color: #00647f;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
.buttoncenter {
    background-color: #00647f;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.small_button, .small_button_off {
    background-color: #00495b;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 0pt;
    line-height: 0pt;
    padding: 0pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
    border-width: 0px;
    border-right-width: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
span.weight-300 {
    font-weight: 300;
}
#banner {
    border-color: #444444;
    border-style: solid;
	width:  91.2%;
    min-width: 700pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}
